# SPDX-License-Identifier: 0BSD
# SPDX-FileCopyrightText: 2025 Fundament Software SPC <https://fundament.software>

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{alc,lua}]
indent_style = tab
