# SPDX-License-Identifier: 0BSD
# SPDX-FileCopyrightText: 2025 Fundament Software SPC <https://fundament.software>

/lit.exe
/luvi.exe
/luvit.exe
/.direnv/
/.pre-commit-config.yaml
/deps/
/luaunit.lua
/.vscode/*
!/.vscode/launch.json
/target/
Cargo.lock
